<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body
  .container
    h1 Список страниц
    ul
      li: a(href="./index.html") Главная
      li: a(href="./develop.html") Проектирование
      li: a(href="./delivery.html") Доставка
      li: a(href="./building.html") Строительство
      li: a(href="./puskonaladka.html") Пусконаладка
      li: a(href="./reconstruction.html") Реконструкция






