debug()
  *
    outline 1px solid teal
    & *
      outline 1px solid lightblue
      & *
        outline 1px solid purple

size($height, $width = $height)
  height $height
  width $width
  
linkHover($color)
  cursor pointer
  display inline-block
  position relative
  transition $transition
  &:before
    background-color rgba($color, .3)
    bottom -3px
    content ''
    height 1px
    right 0
    position absolute
    transition $transition
    width 0
  &:hover
    color $primary
    &:before
      left 0
      width 100%



clearfix()
  &:after
    content ""
    display table
    clear both

center()
  bottom 0
  left 0
  margin auto
  position absolute
  right 0
  top 0

link()
  border-bottom 1px solid rgba($link, .2)
  color $link
  display inline
  text-decoration none
  transition border-color .4s, color .4s
  &:hover
    color $primary
    border-color rgba($primary, .2)


  