.about-video-section
  position relative
  &:before
    background-color $main
    // bottom 0
    content ''
    height 50%
    left 0
    position absolute
    // top -40rem
    top 50%
    width 100%
    z-index -1


.about-black-text
  background-color $main
  color #fff
  margin-top -8rem
  padding 8rem 0





.about-scope
  &__top
    background-color #fff
    display flex
    flex-direction column
    justify-content space-between
    height 24rem
    padding 3.2rem
    &_1
      background-color #E1D0E8
    &_2
      background-color #EEEEE4
    &_3
      background-color #DEDADD
    &_4
      background-color #FFF7BB
    &_5
      background-color #eee
  &__title
    font-size 3.2rem
    font-weight 600
    max-width 27.5rem



@media(max-width 1000px)
  .about-black-text
    &__item
      margin-bottom 1.5em
      .grid
        grid-row-gap 0
      h2
        margin-bottom .5em