.page
  display block
  &_shadow
    cursor pointer
    height 100vh
    overflow hidden
    position relative
    transition $transition
    &:after
      background-color rgba(26,26,26,0.2)
      content ''
      height 100%
      left 0
      position fixed
      top 0
      width 100%
      z-index 100

.section
  margin-bottom 12rem

.inner-header
  // margin-top -3.2rem
  // padding 8rem 0
  
  margin-bottom 3.2rem
  overflow hidden
  position relative
  &__bg
    display flex
    height 24rem
    left 0
    position absolute
    top 0
    width 100%
    z-index -1
    img
      display block
      height 100%
      object-fit cover
      object-position center
      width 100%
    &:before
      background linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
      bottom 0
      content ''
      height 100%
      opacity .5
      left 0
      position absolute
      width 100%

  &_with-img
    height 24rem
    .inner-header
      &__container
        bottom 0
        position absolute
        width 100%
    .breadcrumbs
      &-text
        color #fff !important
      &-list
        .breadcrumbs-item:after
          color #fff
    h1
      color #fff

.info-item
  margin-bottom .5em
  &__label
    line-height 1.2
    margin-bottom .25em
    opacity .5
  &__value
    font-weight 500
    line-height 1.2
  &_big
    margin-bottom 2em
    .info-item
      &__value
        font-size 4.8rem
        font-weight 600


.logotype
  align-items center
  background-color #fff
  display flex
  height 14rem
  justify-content center
  padding 3.2rem
  img
    display block
    object-fit contain
    height 100%
    width 100%


@media screen and (max-width: 1260px)
  .section
    margin-bottom 6.4rem
    padding-top 0

@media(max-width 1200px)
  .info-item
    &_big
      margin-bottom 1em
      .info-item
        &__value
          font-size 3.2rem

@media(max-width 767px)
  .inner-header
    &_with-img
      height 16rem
    h1
      margin-bottom 0
