.catalog-links
  margin-bottom 3.2rem
  .catalog-link
    display inline-block
    margin-right .8rem
    margin-bottom .8rem
    a
      background-color #E4E8EE
      border-radius $radius
      display block
      padding .8em 1.6em
      transition $transition
    &:hover
      a
        background-color #E4E8EE - 5%
    &_active
      color #fff
      a
        color #fff
        background-color #464444


.filter
  max-width 35rem
  position relative
  transition all .8s cubic-bezier(.16,1.08,.38,.98)
  &__links
    border-bottom $border
    margin-bottom 1.5em
    padding-bottom .5em
  &__link
    a
      display block
      font-weight 500
      margin-bottom 1em
      transition $transition
      &:hover
        color $primary

.filter-mobile-button
  align-items center
  // background-color $primary
  background-color #fff
  border $border
  // color $primary
  // color #fff
  display none
  // border $border
  border-radius 4px
  justify-content center
  padding 1.8rem 0
  text-align center
  &__img
    margin-right .8rem
    size(2rem)
    path
      fill $primary
  &__text
    color $primary

.bx-filter-popup-result.left
  background-color $primary
  color #fff
  padding 1.2rem 1.6rem
  position absolute
  right -14rem
  width 12rem
  z-index 100
  &:before
    border-style solid
    border-width 11px 14px 11px 0
    border-color transparent $primary transparent transparent
    bottom 0
    content ''
    left -.8rem
    margin auto
    position: absolute
    top 0
    size(0)
  a
    color #fff
    display block
    margin-top .25em
    opacity .5
    transition $transition
    &:hover
      opacity 1


@media(max-width 1200px)
  .catalog-links
    display flex
    overflow-x scroll
    margin-left -1.2rem
    margin-right -1.2rem
    padding 0 1.2rem
    -webkit-overflow-scrolling touch
    .catalog-link
      flex-shrink 0
      &:last-child
        margin-right 4rem
      a
        padding .6em .8em
  .filter
    background-color #fff
    height 100%
    left -100%
    // overflow-y auto
    overflow-y scroll
    max-width 90%
    padding 2.4rem
    // padding-right 6.4rem
    position fixed
    top 0
    z-index 200
    &_active
      left 0
    &__link
      font-size 1.6rem
  .filter-mobile-button
    display flex

  .bx-filter-popup-result.left
    display none










