.construction
  background-color #fff
  height 100vh
  // overflow hidden
  padding 8rem 0
  position relative
  &__container
    display flex
    height 100%
    justify-content space-between
  &__left
    // background-color teal
    display inline-block
    height 24rem
    // position sticky
    top 14rem
    // width 50%
  &__right
    width 50%
  &__img
    margin-bottom 2.4rem