.construction
  background-color #fafafa
  // height 100vh
  // overflow hidden
  padding 8rem 0
  position relative
  &__container
    display flex
    height 100%
    justify-content space-between
  &__left
    // background-color teal
    display inline-block
    height 24rem
    position sticky
    top 14rem
    width 30%
  &__right
    width 50%
  &__item
    margin-bottom 6.4rem
    opacity 0
    transform translateY(4rem)
    transition $transition2
    &.animated
      opacity 1
      transform none
  &__img
    margin-bottom 2.4rem
  &__label
    color $primary
    margin-bottom 1em


@media(max-width 767px)
  .construction
    &__container
      display block
    &__left
      position initial
      width 100%
    &__right
      width 100%

