.about-serv
  position relative
  &__container
    color #fff
    left 8.8rem
    max-width 48rem
    position absolute
    top 6.4rem
    p
      opacity .7
  &__img
    background-color #151618
    display flex
    justify-content flex-end
    img
      width initial


.serv-right-img
  background-color #E3E8EE
  height 16rem
  padding 4.8rem
  &__title
    font-size 2.4rem
    font-weight 600
    line-height 1.2


.garanties-block
  &__container
    background-color #fff
    padding 4rem
  &__title
    font-size 2.4rem
    font-weight 600
    margin-bottom .5em


.block-with-info
  background-color #ECEFF2
  padding 8rem 0
  &__title
    font-size 3.2rem
    font-weight 600
    line-height 1.2
    margin-bottom .75em


