.new
  display block
  overflow hidden
  &__img
    overflow hidden
    img
      transition $transition
      transform scale(1.08)
      width 100%
  &__title
    font-size 2rem
    font-weight 600
    line-height 1.2
    margin-bottom .25em
  &__container
    background-color #fff
    display flex
    flex-direction column
    justify-content space-between
    height 22rem
    padding 4rem
    position relative
    &:before
      // background-color teal
      background-color #fff
      content ''
      height 0
      left 0
      position absolute
      top 0
      transition $transition
      width 100%
    &-top
      margin-bottom 0
      max-height 12rem
      transition $transition
  &__tag
    color $primary
  &__anons
    color $second
    // display none
    margin-bottom 0
    opacity 0
    transform translateY(1rem)
    transition $transition
  &:hover
    .new
      &__img
        img
          transform none
      &__container
        &:before
          height 4rem
          top -4rem
        &-top
          margin-top -4rem
      &__anons
        display block
        opacity 1
        transform none


.news-detail
  .date
    margin-bottom 3.2rem
  &__img
    margin-bottom 4rem
    margin-left -10rem
    margin-right -10rem
    img
      max-width initial
      width 100%
    // img
    //   margin-left -10rem
    //   margin-right -10rem


.news-detail-back
  display block
  left 0
  // margin-top 4rem
  position sticky
  top 14rem
  &__icon
    circleHover(4.8rem, $main, $primary)
    margin-bottom .8rem
    position relative
    z-index 10


.news-gallery
  margin-bottom 4rem



@media(max-width 1200px)
  .new
    &__container
      padding 2.4rem
    &__title
      font-size 1.8rem
    &__anons
      display none !important
  .news-detail-back
    display none
  .news-detail
    &__img
      margin-left 0
      margin-right 0