.serv
  &-top
    margin-bottom 5.6rem
  &-icons
    margin-bottom 4rem
  &-icon
    align-items center
    display flex
    &__img
      align-items center
      border $border
      border-radius 50%
      circle(6.4rem)
      display flex
      justify-content center
      margin-right 1rem
    &__text
      font-size 1.6rem
      font-weight 600
      line-height 1.2
      letter-spacing .5px
      max-width 18rem
      text-transform uppercase
  
  &-video
    margin-bottom 8rem
    video
      max-width 100%

.transport-companies
  display flex
  justify-content space-between