.hidden
  display none
.btn-lizing
  background #256995
.btn-lizing:hover
  background #1e4c69
.filter-links
  margin 30px 0
.filter-links .head-filter-links
  font-weight bold
  margin 20px 0
.filter-links a
  display block
  margin-bottom 10px
  margin-left 20px
.arrow-btn-wrap
  display none !important