.pre-footer
  background-color #0D0E0E
  color #fff
  // padding 2em 0
  padding-top 2em
  padding-bottom 1em
  &__link
    margin-bottom 1em
    linkHover(#fff)
    a
      color #fff
    &:not(:last-child)
      margin-right 2em


.main-footer
  background-color #141515
  color #fff
  padding-top 8rem
  &__phone
    color #fff
    display block
    font-size 2.4rem
    margin-bottom 1em
  &__mail
    color #fff
    display block
    margin-bottom 1.5em
  &__bottom
    border-top 1px solid rgba(#fff, .2)
    display flex
    justify-content space-between
    margin-top 8rem
    padding 4rem 0
  .logo
    display block

.copyright
  font-size 1.4rem
  opacity .5

.thisdesign
  color #fff
  font-size 1.4rem
  linkHover(#fff)
  opacity .5
  &:hover
    color #fff



.footer-nav
  &__link
    color #fff
    display block
    margin-bottom 1em
    a
      color #fff
      display block
      font-weight 400
      opacity .7
      linkHover(#fff)
      &:hover
        color #fff
    &_big
      a
        font-weight 600
        opacity 1


@media(max-width 767px)
  .pre-footer
    &__link
      font-size 1.4rem
      &:not(:last-child)
        margin-right .5em
  .main-footer
    padding-top 4rem
    .logo
      margin-bottom 1.6rem
    &__bottom
      display block
      margin-top 4rem
      padding 2rem 0
  .copyright
    margin-bottom .75em
  .footer-nav
    &__link
      font-size 1.4rem












