.fos
  background-color #eee
  padding 4.8rem 0
  &__form
    display flex
    justify-content space-between
    margin-bottom 1.6rem
    .form-control
      margin-bottom 0
      margin-right .8rem
  &__right
    position relative
  &__img
    position absolute
    right 0
    top -8rem