.section-map
  p
    max-width 44rem

.map
  // transform translateY(-20rem)
  margin-top -20rem
  padding-top 8rem
  img
    height 80rem
    width 100%

@media(max-width 1000px)
  .map
    margin-top initial
    img
      height initial