.prem
  background-color #fff
  border-radius $radius
  height 12.8rem
  padding 2.4rem
  &__title
    color $main
    font-size 1.8rem
    font-weight 600
    margin-bottom .25em
  &__subtitle
    font-size 1.4rem
