.prem
  background-color #fff
  border-radius $radius
  display block
  height 12.8rem
  overflow hidden
  padding 2.4rem
  position relative
  &__img
    height 100%
    left 0
    position absolute
    top 0
    transition $transition
    width 100%
    z-index 0
  &__container
    max-width 23rem
    position relative
    z-index 10
  &__title
    color $main
    font-size 1.8rem
    font-weight 600
    margin-bottom .25em
    transition $tansition
  &__subtitle
    font-size 1.4rem
  &:hover
    .prem
      &__img
        transform scale(1.05)
      &__title
        color $primary
