.tabs
  &__header
    border-bottom $border
    display flex
    // justify-content center
    margin-bottom 3.2rem
  &__link
    align-items center
    // background-color #fff
    cursor pointer
    // display block
    display flex
    font-size 1.4rem
    font-weight 600
    justify-content center
    // opacity .5
    letter-spacing .5px
    margin-right 2em
    padding 1em 0
    padding-top 0
    position relative
    text-align center
    text-transform uppercase
    transition $transition
    &:before,
    &:after
      bottom -1px
      content ''
      height 2px
      left 0
      position absolute
      transition $transition
      z-index 0
      background-color $primary
      width 0
      z-index 10
    // &:not(:last-child)
    //   margin-right 2.4rem
    &_active,
    &:hover
      color $primary
      &:after
        width 100%
    span
      line-height 1.2
      position relative
      white-space nowrap
      z-index 1
  &__content
    // background-color #fff
    display none
    // padding-bottom 6.4rem
    img
      max-width 100%
    &_active
      animation tabs .3s ease
      display block

@keyframes tabs
  from
    opacity 0
    transform translateY(.5rem)
  to
    opacity 1
    transform none


@media(max-width 1000px)
  .tabs
    &__header
      // overflow hidden
      overflow-x scroll
      overflow-y hidden
      margin-left -1.2rem
      margin-right -1.2rem
      justify-content initial
      padding 0 1.2rem
      -webkit-overflow-scrolling touch
    &__content
      padding 0
    &__link
      font-size 1.4rem
      margin-right 2.4rem
      &:last-child
        margin-right 4rem
