extends layout.pug

block content
  .inner-header
    .inner-header__container
      .wrapper
        section.breadcrumbs
          .breadcrumbs-list
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text Главная
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text О заводе
            .breadcrumbs-item
              .breadcrumbs-text О заводе
        h1 О заводе

  .wrapper
    section.section
      .grid
        .col.col--sm-6
          p ООО «КЗКЭО Энерго-Стандарт» — это производственное предприятие, основная цель которого - выпуск на российский рынок котельного оборудования, способного конкурировать с иностранными производителями.
          p Основным направлением нашей деятельности стал выпуск современного, надёжного и высокоэффективного оборудования для малой и средней теплоэнергетики.
        .col.col--sm-1
        .col.col--sm-5
          .grid
            .col.col--sm-6
              .info-number
                .info-number__number c 2015
                p.info-number__text года успешно реализуем комплексные решения в теплоэнергетической сфере
            .col.col--sm-6
              .info-number
                .info-number__number 275
                p.info-number__text паровых и водогрейных котлов изготовлено с 2015 года
            .col.col--sm-6
              .info-number
                .info-number__number >23
                p.info-number__text регионов РФ и СНГ где наш завод спроектировал и построил котельные
            .col.col--sm-6
              .info-number
                .info-number__number 57
                p.info-number__text котельных изготовлено с 2015 года



    section.section
      .grid
        .col.col--lg-6
          a(href="").block-link
            .block-link__img
              img(src="./img/block-link-construction.jpg", alt="")
            .block-link__container
              .block-link__title Производство
              p.block-link__text Производим и водогрейные котлы, котельные, дымовые трубы, экономайзеры и деаэраторы и тепловые пункты
              .btn.btn_ghost Подробнее
        .col.col--lg-6
          a(href="").block-link
            .block-link__img
              img(src="./img/block-link-services.jpg", alt="")
            .block-link__container
              .block-link__title Монтажные работы
              p.block-link__text Производим и водогрейные котлы, котельные, дымовые трубы, экономайзеры и деаэраторы и тепловые пункты
              .btn.btn_ghost Подробнее



  section.section.about-video-section
    .wrapper
      a(href="https://www.youtube.com/watch?v=MH45-McjU_I").about-video.video.modal-open
        img(src="./img/about-video.jpg", alt="")
    
    
  section.section.about-black-text
    .wrapper
      .about-black-text__item.wow.smallFadeUp
        .grid
          .col.col--lg-2
          .col.col--lg-3
            h2 Контроль качества
          .col.col--lg-1.dn-xl
          .col.col--lg-4
            p Для контроля качества выпускаемой продукции завод ООО «КЗКЭО Энерго-Стандарт» использует лабораторию, осуществляющую функции входного и выходного контроля, проводит испытания оборудования. Высочайшее качество выпускаемой продукции позволяет устанавливать до 5 лет гарантии на всю линейку продукции. 
      .about-black-text__item.wow.smallFadeUp
        .grid
          .col.col--lg-2
          .col.col--lg-3
            h2.wow.smallFadeUp Основное направление
          .col.col--lg-1.dn-xl
          .col.col--lg-4
            p.wow.smallFadeUp Основным направлением нашей деятельности стал выпуск современного, надёжного и высокоэффективного оборудования для малой и средней теплоэнергетики.
            p.wow.smallFadeUp ООО «КЗКЭО Энерго-Стандарт» - современная, динамично развивающаяся компания, эффективно решающая вопросы теплоснабжения комплексов промышленного, жилого и социального назначения уже более 15 лет. Современное оборудование и инновационные технологии, позволяют нам и нашим клиентам достичь высоких результатов в области теплоэнергетики. 
      .about-black-text__item.wow.smallFadeUp
        .grid
          .col.col--lg-2
          .col.col--lg-3
            h2 Технологии
          .col.col--lg-1.dn-xl
          .col.col--lg-4
            p Внедрение инновационных технологий в сфере тепловой энергетики, собственные инженерные разработки по улучшению технических характеристик продукции, активное участие в разработке новых решений в области теплоэнергетики – все это способствует получению нашими заказчиками услуг на современном профессиональном уровне. 
            p Опытный коллектив технологов и конструкторов ООО «КЗКЭО Энерго-Стандарт» может осуществить изготовление и поставку нестандартного оборудования по техническому заданию заказчика. При этом обеспечивается сопровождение с момента составления технического задания до момента установки изготовленного оборудования в проектное положение. 



  .wrapper
    section.section
      .grid
        .col.col--sm-6
          h2 Наша цель — выпуск на российский рынок котельного оборудования, способного конкурировать с иностранными производителями
          p Производственные площади и современное технологическое оборудование, расположенные на территории 7000 м2, позволяют применять комплексный подход к решению задач, обеспечивают низкие издержки. Это позволяет предлагать нашим клиентам наиболее конкурентную и доступную стоимость услуг, что делает сотрудничество максимально эффективным и взаимовыгодным.
        .col.col--sm-1
        .col.col--sm-5
          .text-list.text-list_black
            .text-list__item Снизить расход топлива — уменьшению себестоимости теплоэнергии
            .text-list__item Повысить производительность оборудования
            .text-list__item Сократить затраты на содержание котельной
            .text-list__item Полностью автоматизировать оборудование
            .text-list__item Повысить качество теплоснабжения
            .text-list__item Повысить безопасность в процессе эксплуатации


    section.section
      .slider.slider-4
          .about-scope
            .about-scope__top.about-scope__top_1
              .about-scope__title Высокоточная плазменная резка
              .about-scope__tag Технологии
            .about-scope__img
              img(src="./img/about-slider/1.jpg", alt="")
          .about-scope
            .about-scope__top.about-scope__top_2
              .about-scope__title Технологии вальцевания
              .about-scope__tag Технологии
            .about-scope__img
              img(src="./img/about-slider/2.jpg", alt="")
          .about-scope
            .about-scope__top.about-scope__top_3
              .about-scope__title Листогибочный пресс
              .about-scope__tag Технологии
            .about-scope__img
              img(src="./img/about-slider/3.jpg", alt="")
          .about-scope
            .about-scope__top.about-scope__top_4
              .about-scope__title Cистема быстрой замены оттенков краски
              .about-scope__tag Технологии
            .about-scope__img
              img(src="./img/about-slider/4.jpg", alt="")
          .about-scope
            .about-scope__top.about-scope__top_5
              .about-scope__title Высокоточная плазменная резка
              .about-scope__tag Технологии
            .about-scope__img
              img(src="./img/about-slider/1.jpg", alt="")


    section.section.section-map
      .wrapper
        h2 География проектов
        p
          | Работаем по всей России, а так же в некоторых странах СНГ, например, Казахстан, Украина и Беларусь
        .map
          img(src='./img/russia3.svg')


    section.section.section-partners.fade-container
      .wrapper
        h2 Партнеры
        .grid.partners
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-2.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-1.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-3.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-4.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-5.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-6.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-7.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-8.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-9.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-10.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-11.png')
          .col.col--xs-6.col--sm-2.partner.fade-item
            img(src='./img/partner-12.png')