extends layout.pug

block content

  .wrapper
    section.breadcrumbs
      .breadcrumbs-list
        .breadcrumbs-item
          a(href="/" title="Главная").breadcrumbs-text Главная
        .breadcrumbs-item
          .breadcrumbs-text Услуги

    h1 Каталог


    section.section
      .catalog-items.grid
        .col.col--xl-4.col--sm-6
          a(href="").catalog-item
            .catalog-item__title Паровые котлы парогенераторы
            .catalog-item__img
              img(src="./img/catalog-item-1.png", alt="")
            .catalog-item__bottom
              .catalog-item__count 24
              .btn Перейти
        .col.col--xl-4.col--sm-6
          a(href="").catalog-item
            .catalog-item__title Котельные
            .catalog-item__img
              img(src="./img/catalog-item-2.png", alt="")
            .catalog-item__bottom
              .catalog-item__count 24
              .btn Перейти
        .col.col--xl-4.col--sm-6
          a(href="").catalog-item
            .catalog-item__title Тепловые пункты
            .catalog-item__img
              img(src="./img/catalog-item-3.png", alt="")
            .catalog-item__bottom
              .catalog-item__count 24
              .btn Перейти
        .col.col--xl-4.col--sm-6
          a(href="").catalog-item
            .catalog-item__title Дымовые трубы
            .catalog-item__img
              img(src="./img/catalog-item-4.png", alt="")
            .catalog-item__bottom
              .catalog-item__count 24
              .btn Перейти
        .col.col--xl-4.col--sm-6
          a(href="").catalog-item
            .catalog-item__title Деаэраторы
            .catalog-item__img
              img(src="./img/catalog-item-5.png", alt="")
            .catalog-item__bottom
              .catalog-item__count 24
              .btn Перейти


  section.help
    .wrapper
      h2 Нужна помощь в выборе или остались вопросы?<br>Мы перезвоним вам в течение 15 минут!
      form.form
        .form-input
          input(type="tel" placeholder="Номер телефона").phone-mask
        .btn Получить консультацию
      small Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных