extends layout.pug

block content

  .inner-header.inner-header_with-img
    .inner-header__bg
      img(src="./img/catalog-bg.jpg", alt="")
    .inner-header__container
      .wrapper
        section.breadcrumbs
          .breadcrumbs-list
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text Главная
            .breadcrumbs-item
              .breadcrumbs-text Услуги
        h1 Паровые котлы парогенераторы

  .wrapper
    .catalog-links
      .catalog-link.catalog-link_active: a Все
      .catalog-link: a(href="") Автоматические
      .catalog-link: a(href="") Водотрубный
      .catalog-link: a(href="") Проточный
      .catalog-link: a(href="") Прямоточный
      .catalog-link: a(href="") Жаротрубный

    section.section
      .goods.grid
        .col.col--xl-3
          .filter-mobile-button
            img(src="./img/filter.svg", alt="").filter-mobile-button__img
            .filter-mobile-button__text Фильтры
          .filter
            .form-input
              label.forim-input__label Назначение
              select.custom-select
                option Для пропарочной камеры
                option Гофрокартона
                option Пенопласта
                option Пастеризация
                option Сушка древесины
                option Меховых
                option Текстиль
                option Комбикорма
                option Битума подогрев
                option Очистка от нефтепродуктов
                option Для отогрева водопровода
                option Для нагрева воды
                option Для пивоварни
                option Для автоклава
                option Для камер
                option Для теплиц
                option Для бетонного завода
            .form-input
              label.forim-input__label Тип
              select.custom-select
                option Контейнерного типа
                option Другого типа
            .form-input
              label.forim-input__label Топливо
              select.custom-select
                option Жидкое топливо
                option Другого типа
            .form-input
              label.forim-input__label Параметр
              .checkbox
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Большой мощности
              .checkbox
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Высокого давления
              .checkbox
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Малой мощности
              .checkbox
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Средней мощности

            .form-input
              label.forim-input__label Мощность, кг пар/час
            .catalog-slider
              .catalog-slider__values
                input(type="tel" data-min=0 data-start=200).catalog-slider__left
                input(type="tel" data-max=6000 data-end=1000).catalog-slider__right
            
            .form-input
              label.forim-input__label Давление
            .catalog-slider
              .catalog-slider__values
                input(type="tel" data-min=0 data-start=500).catalog-slider__left
                input(type="tel" data-max=6000 data-end=2000).catalog-slider__right

            .form-input
              label.forim-input__label Цена, ₽
            .catalog-slider
              .catalog-slider__values
                input(type="tel" data-min=0 data-start=500).catalog-slider__left
                input(type="tel" data-max=6000 data-end=2000).catalog-slider__right


        .col.col--xl-9
          section.section
            .goods.grid
              .col.col--lg-4.col--md-6
                a(href="").good
                  .good__img
                    img(src="./img/goods/png.png", alt="")
                  .good__container
                    .good__left
                      .good__category Паровые котлы (парогенераторы) или другой длинное название категории
                      .good__title 10 бар 100 - 2000 кг/ч. А тут ещё длиннее название
                    .good__right
                      .good__price от 285 000 ₽
              - for (var i = 1; i < 11; i++)
                .col.col--lg-4.col--md-6
                  a(href="").good
                    .good__img
                      img(src="./img/goods/" + i + ".jpg", alt="")
                    .good__container
                      .good__left
                        .good__category Паровые котлы (парогенераторы)
                        .good__title 10 бар 100 - 2000 кг/ч
                      .good__right
                        .good__price от 285 000 ₽

            section.pagination
              .pagination-wrap
                .pagination-center
                  .pagination-list
                    .pagination-item: a.pagination-item-link.pagination-item-link-active 1
                    .pagination-item: a(href="/catalog/parovye-kotly-/?PAGEN_1=2").pagination-item-link 2

          .seo-text
            p Паровые промышленные котлы (парогенераторы). Паропроизводительность от 100 килограмм до 10 тонн пара час.Расчётное давление 0,7 бар. Выработка насыщенного пара с температурой до 115 °C. Паровые жаротрубные котлы малой, средней и большой мощности. Благодаря трехходовой конструкции паровое котлы имеет высокий коэффициент полезного действия. Паровые котлы по запросу клиента могут быть укомплектованы двумя модулируемыми горелками, что регулирует нагрузку. Работа в рамках широкого диапазона важна для производств с циклической нагрузкой.
            p Высокоэффективные модели по доступным ценам. Оснащение предприятий качественным оборудованием. Производительность и долговечность подтверждена сертификатами.



  section.help
    .wrapper
      h2 Нужна помощь в выборе или остались вопросы?<br>Мы перезвоним вам в течение 15 минут!
      form.form
        .form-input
          input(type="tel" placeholder="Номер телефона").phone-mask
        .btn Получить консультацию
      small Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных