extends layout.pug

block content
  .inner-header
    .inner-header__container
      .wrapper
        section.breadcrumbs
          .breadcrumbs-list
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text Главная
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text О заводе
            .breadcrumbs-item
              .breadcrumbs-text Производство
        h1 Производство

  .wrapper
    section.section
      .grid
        .col.col--sm-6
          p Краснодарский завод котельно-энергетического оборудования разрабатывает и внедряет "под ключ" промышленные и полупромышленные котельные установки. Осуществляем полный цикл работ: от проектирования, комплектации, монтажа и пусконаладочных работ до ввода в эксплуатацию.
          p Наше предприятие производит установки, которые вырабатывают тепловую энергию для административных, производственных, жилых помещений и складов.



        .col.col--sm-1
        .col.col--sm-5
          .grid
            .col.col--sm-6
              .info-number
                .info-number__number c 2015
                p.info-number__text года успешно реализуем комплексные решения в теплоэнергетической сфере
            .col.col--sm-6
              .info-number
                .info-number__number >23
                p.info-number__text регионов РФ и СНГ где наш завод спроектировал и построил котельные

  .text
    .wrapper
      h2 Этапы производства
      .text__container
        .text__left
          p Мы разрабатываем и производим котельные под ключ и выполняем их интеграцию, последовательно проходя по всем подготовительным и рабочим этапам:
          .text-list
            .text-list__item проведение аудита состояния здания
            .text-list__item подготовка ТУ и создание ТЗ
            .text-list__item подбор рационального варианта 
            .text-list__item создание проекта
            .text-list__item комплектация установки
            .text-list__item монтажные и пусконаладочные работы
            .text-list__item оформление технической документации
            .text-list__item ввод в эксплуатацию
            .text-list__item согласование в надзорных органах
            .text-list__item гарантийное обслуживание
        .text__right
          .text__right-img
            img(src="./img/services/text-reconstruction.jpg", alt="")


  .wrapper
    section.section.blocks
      .block.grid
        .col.col--sm-6
          a(href="").block__img
            img(src="./img/construction-img.jpg", alt="")
        .col.col--sm-1
        .col.col--sm-4
          .block__plate Качество
          h2.block__title Контроль качества
          p Система управления производством построена на принципах регулярного контроля качества продукции и обновления технологических процессов и модернизации оборудования.
          p Для контроля качества выпускаемой продукции завод ООО «КЗКЭО Энерго-Стандарт» использует лабораторию, осуществляющую функции входного и выходного контроля, проводит испытания оборудования. Высочайшее качество выпускаемой продукции позволяет устанавливать до 5 лет гарантии на всю линейку продукции. 

  section
    .construction
      .construction__container.wrapper
        .construction__left
          .construction__label Процессы
          h2 Процессы производства
          p С помощью передового оборудования и технологий Краснодарский завод котельного оборудования производит современную продукцию как для промышленных, так и жилых объектов.
        .construction__right
          .construction__item.wow
            .construction__img
              img(src="./img/construction-2.jpg", alt="")
            h4 Листогибочный пресс
            p Эта линия имеет туннель, шесть уровней предварительной обработки с помощью фосфата железа и независимой деоксидации, а также уровни пассивирования. 
          - for (var i = 0; i < 4; i++)
            .construction__item.wow
              .construction__img
                img(src="./img/construction-1.jpg", alt="")
              h4 Технологии вальцевания
              p Эта линия имеет туннель, шесть уровней предварительной обработки с помощью фосфата железа и независимой деоксидации, а также уровни пассивирования. 




