//- include header.html
extends layout.pug

block content
  .content
    .container
      .main-title-wrap
        h1 Проектирование
      .content-wrap
        .wrapper
          .serv-top
            .grid
              .col.col--sm-6
                p Energo Standart разрабатывает и проектирует: котельные, газопроводы, внутреннее газооборудование, производственные помещения, системы газоснобжения, системы газораспределения и системы отопления.
                .fos.fos_without-bg
                  form.fos__form
                    .form-input
                      input.phone(type='tel')
                    .btn Получить консультацию
                  small Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
              .col.col--sm-1
              .col.col--sm-5
                .serv-img
                  img(src="./img/services/service.jpg", alt="")

          .grid.serv-icons
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-1.svg", alt="")
                .serv-icon__text Команда профессионалов
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-2.svg", alt="")
                .serv-icon__text Выполним работы строго в срок
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-3.svg", alt="")
                .serv-icon__text От идеи до сдачи в эксплуатацию

          .serv-video
            video(autoplay loop muted)
              source(src="./video/service.mp4")

          h2 Проектируем
          .cards
            -var cardsIconBg = ["", "DC1A14", "034BBF", "F0C52C"]
            - for (var i = 1; i < 5; i++)
              .card
                .card__img
                  img(src="./img/services/develop-" + i + ".jpg", alt="")
                .card__container
                  .card__icon-container
                    .card__icon-bg
                    .card__icon(style="background-color: #" + cardsIconBg[i] + ";")
                      img(src="./img/services/cards-icon-" + i + ".svg", alt="")
                  .card__title Системы газоснабжения
                  ul.card__list
                    li От изысканий до  экспертизы
                    li Предпроектные работы
                    li Проектирование
                    li Сопровождение строительства
                  .btn Заказать просчёт
          
    .text
      .wrapper
        h2 Преимущества работы с нами
        .text__container
          .text__left
            .text-list
              .text-list__item Соблюдаем сроки в 100% проектов
              .text-list__item Сдаём 37% проектов раньше срока в договоре 
              .text-list__item 12 проектировщиков и 2 ГИПа в штате завода
              .text-list__item Контролируем задачи и сроки  работ, связанные с проектированием систем газоснабжения
              .text-list__item Предлагаем всю документацию и грамотные  технические решения
          .text__right.text__right_white#js-target(data-scroll data-scroll-offset="200" data-scroll-speed="-2")
            .text-list
              .text-list__item Устраняем замечания экспертизы за 10 дней 
              .text-list__item Оперативно отвечаем на ваши заявки
              .text-list__item Ваш персональный проектировщик доступен 24/7
              .text-list__item Бесплатная консультация и коммерческое предложение в течении 30 минут 
              .text-list__item Что Вы получаете после заявки? Оптимальные  решения  и технико-экономическое обоснование
              .btn Уточнить сроки вашего проекта

    section.section.fos
      .wrapper
        .grid
          .col.col--sm-6
            .fos__left
              h2.fos__title Разработаем котельную под ключ за 2 месяца
              p.fos__subtitle
                | Разработаем индивидуальный проект для вашей котельной бесплатно. Оставьте телефон и мы свяжемся с вами, чтобы уточнить параметры.
              form.fos__form
                .form-input
                  input.phone(type='tel' placeholder="Контактный телефон")
                .btn Получить консультацию
              small
                | Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
          .col.col--sm-6
            .fos__right
              .fos__img
                img(src='./img/fos-img.png')


    section.section.section-services
      .wrapper
        h2 Услуги
        .services
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-1.jpg')
            .service__left
              .service__title Бесплатный рассчет
              p.service__subtitle
                | Бесплатная консультация и подготовка тепловой схемы  и расчёта по установке оборудования и монтажа!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-2.jpg')
            .service__left
              .service__title Бесплатная пусконаладка
              p.service__subtitle
                | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-2.jpg')
            .service__left
              .service__title Бесплатная пусконаладка
              p.service__subtitle
                | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')



//- include footer.html