extends layout.pug

block content

  section.section.section-hero
    .hero
      .hero__video-container
        video.hero__video(allow='autoplay' loop muted playsinline)
          source(src='./bitrix/templates/ugsp-gaz/img/video/main-video.mp4', type='')
        .hero__box
      .hero__align
        .wrapper
          .hero__container
            h1.hero__title Краснодарский завод котельного оборудования
            p.hero__subtitle
              | Наша компания эксперт в строительстве котельных, комплексном проектировании, пусконаладке, монтаже оборудования и сдаче в эксплуатацию под ключ
            a.btn(href='') Каталог продукции

  //- section.section.section-prems
  //-   .wrapper
  //-     .grid
  //-       .col.col--sm-4
  //-         a.prem(href='')
  //-           .prem__img
  //-             img(src='./img/prem-1.jpg')
  //-           .prem__container
  //-             .prem__title Пусконаладочные работы
  //-             p.prem__subtitle промышленных парогенераторов, котельных, тепловых пунктов и другое
  //-       .col.col--sm-4
  //-         a.prem(href='')
  //-           .prem__img
  //-             img(src='./img/prem-2.jpg')
  //-           .prem__container
  //-             .prem__title Лизинг
  //-             p.prem__subtitle условия приобретения котельных и оборудования
  //-       .col.col--sm-4
  //-         a.prem(href='')
  //-           .prem__img
  //-             img(src='./img/prem-3.jpg')
  //-           .prem__container
  //-             .prem__title Сервисное обслуживание
  //-             p.prem__subtitle техосмотр, контроль техсостояния, диагностика, осмотр и замена механизмов


  section.section.section-categories
    .wrapper
      h2 Каталог товаров
      .categoires.grid
        .col.col--sm-4
          a.category(href='')
            .category__container
              .category__title Паровые котлы (парогенераторы)
              //- .category__number 6 товаров
            img.category__img(src='./img/category-1.png')
        .col.col--sm-4
          a.category(href='')
            .category__container
              .category__title Котельные
              //- .category__number 6 товаров
            img.category__img(src='./img/category-2.png')
        .col.col--sm-4
          a.category(href='')
            .category__container
              .category__title Тепловые пункты
              //- .category__number 6 товаров
            img.category__img(src='./img/category-3.png')
        .col.col--sm-4
          a.category(href='')
            .category__container
              .category__title Дымовые трубы
              //- .category__number 6 товаров
            img.category__img(src='./img/category-4.png')
        .col.col--sm-4
          a.category(href='')
            .category__container
              .category__title Деаэраторы
              //- .category__number 6 товаров
            img.category__img(src='./img/category-5.png')
        //- .col.col--sm-4
        //-   a.category(href='')
        //-     .category__container
        //-       .category__title Бесплатные услуги и акции
        //-       //- .category__number 6 товаров
        //-     img.category__img(src='./img/category-6.png')


  section.section.fos
    .wrapper
      .grid
        .col.col--sm-6
          .fos__left
            h2.fos__title Разработаем котельную под ключ за 2 месяца
            p.fos__subtitle
              | Разработаем индивидуальный проект для вашей котельной бесплатно. Оставьте телефон и мы свяжемся с вами, чтобы уточнить параметры.
            form.fos__form
              .form-input
                input.phone(type='tel')
              .btn Получить консультацию
            small
              | Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
        .col.col--sm-6
          .fos__right
            .fos__img
              img(src='./img/fos-img.png')


  section.section.section-map
    .wrapper
      h2 География проектов
      p
        | Работаем по всей России, а так же в некоторых странах СНГ, например, Казахстан, Украина и Беларусь
      .map
        img(src='./img/russia3.svg')


  section.section.section-partners.fade-container
    .wrapper
      h2 Партнеры
      .grid.partners
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-2.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-1.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-3.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-4.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-5.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-6.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-7.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-8.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-9.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-10.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-11.png')
        .col.col--xs-6.col--sm-2.partner.fade-item
          img(src='./img/partner-12.png')


  section.section.section-services
    .wrapper
      h2 Услуги
      .services
        a.service(href='')
          .service__img
            img.service__img(src='./img/service-1.jpg')
          .service__left
            .service__title Бесплатный рассчет
            p.service__subtitle
              | Бесплатная консультация и подготовка тепловой схемы  и расчёта по установке оборудования и монтажа!
          .service__right
            .service__icon
              img.svg(src='./img/service-1.svg')
        a.service(href='')
          .service__img
            img.service__img(src='./img/service-2.jpg')
          .service__left
            .service__title Бесплатная пусконаладка
            p.service__subtitle
              | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
          .service__right
            .service__icon
              img.svg(src='./img/service-1.svg')
        a.service(href='')
          .service__img
            img.service__img(src='./img/service-2.jpg')
          .service__left
            .service__title Бесплатная пусконаладка
            p.service__subtitle
              | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
          .service__right
            .service__icon
              img.svg(src='./img/service-1.svg')
