//- include header.html
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title KZKO
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    //- link(rel="stylesheet", href="./styles/css/widget.css")
    //- link(rel="stylesheet", href="./styles/css/flags.css")
    //- link(rel="stylesheet", href="./styles/css/vendor.css")
    link(rel="stylesheet", href="./styles/css/vn.css")
    link(rel="stylesheet", href="./styles/css/sub.css")
    link(rel="stylesheet", href="./styles/css/main.css")
  body


    .mobile-menu-bg

    .mobile-menu
      .mobile-menu__nav
        .mobile-menu__item
          .mobile-menu-accordion
            .mobile-menu__link.mobile-menu__link_big О заводе
            .mobile-menu__link-container
              .mobile-menu__link: a(href="") О заводе
              .mobile-menu__link: a(href="") Отзывы
              .mobile-menu__link: a(href="") Гарантии
              .mobile-menu__link: a(href="") Доставка
              .mobile-menu__link: a(href="") Обслуживание
              .mobile-menu__link: a(href="") Сертификаты
              .mobile-menu__link: a(href="") Лизинг
              .mobile-menu__link: a(href="") Отраслевые решения
        .mobile-menu__item
          .mobile-menu-accordion
            .mobile-menu__link.mobile-menu__link_big Каталог
            .mobile-menu__link-container
              .mobile-menu__link: a(href="") Весь каталог
              .mobile-menu__link: a(href="") Паровые котлы (парогенераторы)
              .mobile-menu__link: a(href="") Котельные
              .mobile-menu__link: a(href="") Тепловые пункты
              .mobile-menu__link: a(href="") Дымовые трубы
              .mobile-menu__link: a(href="") Деаэраторы
        .mobile-menu__item
          .mobile-menu-accordion
            .mobile-menu__link.mobile-menu__link_big Услуги
            .mobile-menu__link-container
              .mobile-menu__link: a(href="") Все услуги
              .mobile-menu__link: a(href="") Проектирование
              .mobile-menu__link: a(href="") Строительство
              .mobile-menu__link: a(href="") Пусконаладка
              .mobile-menu__link: a(href="") Доставка
              .mobile-menu__link: a(href="") Сервис
              .mobile-menu__link: a(href="") Реконструкция
        .mobile-menu__item
          .mobile-menu-accordion
            .mobile-menu__link.mobile-menu__link_big Информация
            .mobile-menu__link-container
              .mobile-menu__link: a(href="") Акции
              .mobile-menu__link: a(href="") FAQ
              .mobile-menu__link: a(href="") Статьи
              .mobile-menu__link: a(href="") Новости
        .mobile-menu__item
          .mobile-menu__link.mobile-menu__link_big: a(href="") Контакты
      .mobile-menu__socials
        .main-header-socials
          a(href="https://vk.com/kzkogazru" target="_blank").main-header-socials__item
            img(src="./img/socials/header-vk.svg", alt="")
          a(href="" target="_blank").main-header-socials__item
            img(src="./img/socials/header-facebook.svg", alt="")
          a(href="https://www.youtube.com/channel/UCUuYYGbKJKzJbID_B-JKFIQ" target="_blank").main-header-socials__item
            img(src="./img/socials/header-youtube.svg", alt="")
          a(href="https://www.instagram.com/kzkogazru/" target="_blank").main-header-socials__item
            img(src="./img/socials/header-insta.svg", alt="")
          a(href="https://twitter.com/kzkogazru" target="_blank").main-header-socials__item
            img(src="./img/socials/header-twitter.svg", alt="")
      .mobile-menu__phone-container
        a(href="tel:79882459001").mobile-menu__phone +7 988 245-90-01

      .btn
        .btn__text Отправить заявку

    .page


      header.main-header
        .wrapper
          .main-header__container
            .main-header__left
              a(href="./pages.html").logo
                //- img(src="./img/logo.svg", alt="")
                img(src="./img/new-logo.png", alt="")
              .nav
                .nav__container
                  .nav__link
                    a(href="") О заводе
                    .dropdown
                      .dropdown__container
                        .dropdown__link: a(href="") О заводе
                        .dropdown__link: a(href="") Отзывы
                        .dropdown__link: a(href="") Гарантии
                        .dropdown__link: a(href="") Доставка
                        .dropdown__link: a(href="") Обслуживание
                        .dropdown__link: a(href="") Сертификаты
                        .dropdown__link: a(href="") Лизинг
                        .dropdown__link: a(href="") Отраслевые решения
                  .nav__link 
                    a(href="") Каталог
                    .dropdown
                      .dropdown__container
                        .dropdown__link: a(href="") Паровые котлы (парогенераторы)
                        .dropdown__link: a(href="") Котельные
                        .dropdown__link: a(href="") Тепловые пункты
                        .dropdown__link: a(href="") Дымовые трубы
                        .dropdown__link: a(href="") Деаэраторы
                  .nav__link
                    a(href="") Услуги
                  .nav__link
                    a(href="") Информация
                    .dropdown
                      .dropdown__container
                        .dropdown__link: a(href="") Акции
                        .dropdown__link: a(href="") FAQ
                        .dropdown__link: a(href="") Статьи
                        .dropdown__link: a(href="") Новости
                  .nav__link
                    a(href="") Контакты
            .main-header__right
              .main-header-socials
                a(href="https://vk.com/kzkogazru" target="_blank").main-header-socials__item
                  img(src="./img/socials/header-vk.svg", alt="")
                a(href="" target="_blank").main-header-socials__item
                  img(src="./img/socials/header-facebook.svg", alt="")
                a(href="https://www.youtube.com/channel/UCUuYYGbKJKzJbID_B-JKFIQ" target="_blank").main-header-socials__item
                  img(src="./img/socials/header-youtube.svg", alt="")
                a(href="https://www.instagram.com/kzkogazru/" target="_blank").main-header-socials__item
                  img(src="./img/socials/header-insta.svg", alt="")
                a(href="https://twitter.com/kzkogazru" target="_blank").main-header-socials__item
                  img(src="./img/socials/header-twitter.svg", alt="")
              .main-header__phone 8 861 206 31 86
              .btn Отправить заявку / КП
              .burger
                span

      block content

      .pre-footer
        .wrapper
          .pre-footer__link: a(href="") Купить промышленный паровой котел
          .pre-footer__link: a(href="") Другая ссылка для SEO
          .pre-footer__link: a(href="") Ещё одна ссылка для SEO
      footer.main-footer
        .wrapper
          .grid
            .col.col--lg-2
              a(href="").logo
                img(src="./img/logo.svg", alt="")
            .col.col--xl-8.col--lg-7
              .grid
                .col.col--sm-4.col--xs-6
                  .footer-nav
                    .footer-nav__link.footer-nav__link_big: a(href="") Каталог
                    .footer-nav__link: a(href="") Паровые котлы (парогенераторы)
                    .footer-nav__link: a(href="") Котельные
                    .footer-nav__link: a(href="") Тепловые пункты
                    .footer-nav__link: a(href="") Дымовые трубы
                    .footer-nav__link: a(href="") Деаэраторы
                .col.col--sm-4.col--xs-6
                  .footer-nav
                    .footer-nav__link.footer-nav__link_big: a(href="") Услуги
                    .footer-nav__link: a(href="") Проектирование
                    .footer-nav__link: a(href="") Строительство
                    .footer-nav__link: a(href="") Пусконаладка
                    .footer-nav__link: a(href="") Доставка
                    .footer-nav__link: a(href="") Сервис
                    .footer-nav__link: a(href="") Реконструкция
                .col.col--sm-4.col--xs-6
                  .footer-nav
                    .footer-nav__link.footer-nav__link_big: a(href="") О заводе
                    .footer-nav__link.footer-nav__link_big: a(href="") Портфолио
                    .footer-nav__link.footer-nav__link_big: a(href="") Отзывы
                    .footer-nav__link.footer-nav__link_big: a(href="") Новости
                    .footer-nav__link.footer-nav__link_big: a(href="") Статьи
                    .footer-nav__link.footer-nav__link_big: a(href="") Контакты
            .col.col--xl-2.col--lg-3
              a(href="tel:88612063186").main-footer__phone 8 861 206 31 86
              a(href="mailto:info@kzko-gaz.ru").main-footer__mail info@kzko-gaz.ru
              .btn Отправить заявку
          .main-footer__bottom
            .copyright КЗКЭО «Энерго-Стандарт», 2019
            a(href="https://thisdesign.ru/").thisdesign Digital-консультации — thisdesign.ru








    script(src="./original/map_data.js.Без названия" type="text/javascript")
    script(src="./original/libs.min.js.Без названия")
    script(src="./js/smoothscroll.js")
    script(src="./js/jquery.blast.min.js")
    script(src="./js/jquery.inputmask.bundle.min.js")
    script(src="./js/jquery.nice-select.min.js")
    script(src="./js/nouislider.min.js")
    script(src="./js/wNumb.js")
    script(src="./js/wow.min.js")
    script(src="./js/main.js")
    script(src="./js/animations.js")
//- include footer.html