extends layout.pug

block content

  section.news-detail.section
    .wrapper
      .grid
        .col.col--xl-3
          .news-detail-back
            .news-detail-back__icon
              img(src="./img/news-detail-back.svg", alt="")
            .news-detail-back__text Назад
        .col.col--xl-6
          .inner-header
            .inner-header__container
              .wrapper
                section.breadcrumbs
                  .breadcrumbs-list
                    .breadcrumbs-item
                      a(href="/" title="Главная").breadcrumbs-text Главная
                    .breadcrumbs-item
                      a(href="/" title="Главная").breadcrumbs-text Новости
                    .breadcrumbs-item
                      .breadcrumbs-text Паровые котельные Краснодарского завода котельно-энергетического оборудования

          .news-detail__top
            h1 Паровые котельные Краснодарского завода котельно-энергетического оборудования
            .date 07.06.2020
            .news-detail__img
              img(src="./img/news-big.jpg", alt="")
          .news-detail__text
            p В Калининграде запустили новую котельную на предприятии по производству асфальтобетонной смеси. После ввода в эксплуатации мощности компании возросли на 90%, теперь здесь изготавливают до 600 тонн смеси в день. Для пропарки ЖД цистерн запустили блочно-модульную котельную. Здесь установили паровой котёл ECO-PAR-2000 собственного производства Краснодарского завода котельно-энергетического оборудования.
            p Разработкой и вводом в эксплуатацию также занимались специалисты Краснодарского завода. Благодаря слаженным и профессиональным действиям, удалось в кратчайшие сроки запустить котельную на объекте заказчика. Новая котельная уникальна в первую очередь применяемым оборудованием. Здесь стоит высококачественная итальянская горелка и котёл российского производства от Краснодарского завода котельно-энергетического оборудования, который за счет своих конструктивных особенностей обеспечивает топливную экономичность и высокий КПД.
            p Блочно-модульная котельная полностью автоматизирована. Краснодарский завод котельно-энергетического оборудования - это предприятие, основная цель которого выпуск на российский рынок оборудования, не уступающего иностранным аналогам. Контроль качества и испытание выпускаемой продукции проходит на заводе компании, что позволяет заказчику получить высококачественное, проверенное оборудование в кратчайшие сроки.


  section.section.news
    .wrapper
      .header-center
        h2 Другие новости
      .grid
        - for (var i = 1; i < 4; i++)
          .col.col--sm-4
            a(href="").new
              .new__img
                img(src="./img/news/" + i + ".jpg", alt="")
              .new__container
                .new__container-top
                  .date 07.06.2020
                  .new__title Отгрузка  двух промышленных паровых котлов ECO-PAR 500, Пермский край.
                  p.new__anons Паровой котел/Парогенератор ECO-PAR любой мощности от производителя! Для заказа звоните
                .new__container-bottom
                  .new__tag Отгрузки
