extends layout.pug

block content
  .inner-header
    .inner-header__container
      .wrapper
        section.breadcrumbs
          .breadcrumbs-list
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text Главная
            .breadcrumbs-item
              .breadcrumbs-text Новости
        h1 Новости

        .catalog-links
          .catalog-link.catalog-link_active: a Все
          .catalog-link: a(href="") Отгрузки
          .catalog-link: a(href="") СМИ о нас
          .catalog-link: a(href="") Проекты
  .wrapper
    section.section.news
      .grid
        - for (var i = 1; i < 6; i++)
          .col.col--xl-4.col--md-6
            a(href="").new
              .new__img
                img(src="./img/news/" + i + ".jpg", alt="")
              .new__container
                .new__container-top
                  .date 07.06.2020
                  .new__title Отгрузка  двух промышленных паровых котлов ECO-PAR 500, Пермский край.
                  p.new__anons Паровой котел/Парогенератор ECO-PAR любой мощности от производителя! Для заказа звоните
                .new__container-bottom
                  .new__tag Отгрузки
        .col.col--xl-4.col--md-6
          a(href="").new
            .new__img
              img(src="./img/news/noimage.jpg", alt="")
            .new__container
              .new__container-top
                .date 07.06.2020
                .new__title Отгрузка  двух промышленных паровых котлов ECO-PAR 500, Пермский край.
                p.new__anons Паровой котел/Парогенератор ECO-PAR любой мощности от производителя! Для заказа звоните
              .new__container-bottom
                .new__tag Отгрузки

    include pagination.pug