<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body
  .container
    h1 Список страниц
    h3 Общие
    ul
      li: a(href="./index.html") Главная
    h3 Услуги
    ul
      li: a(href="./develop.html") Проектирование
      li: a(href="./delivery.html") Доставка
      li: a(href="./building.html") Строительство
      li: a(href="./puskonaladka.html") Пусконаладка
      li: a(href="./reconstruction.html") Реконструкция
      li: a(href="./reconstruction.html") Сервис
    h3 Каталог
    ul
      li: a(href="./catalog.html") Каталог
      li: a(href="./card.html") Карточка
      li: a(href="./category.html") Категория (паровые котлы)
      li: a(href="./kotelynie.html") Котельные
      li: a(href="./kotelynie-blochno-modulnie.html") Котельные -> блочно модульные

    h3 Новые страницы
    ul
      li: a(href="./about.html") О заводе
      li: a(href="./reviews.html") Отзывы
      li: a(href="./certificates.html") Лицензии и сертификаты
      li: a(href="./leasing.html") Лизинг
      li: a(href="./garanties.html") Гарантии
      li: a(href="./news.html") Новости
      li: a(href="./news-detail.html") Новости детальная
      li: a(href="./construction.html") Производство
      li: a(href="./serv.html") Обслуживание






