section.pagination
  .pagination-wrap
    .pagination-center
      .pagination-list
        .pagination-item: a.pagination-item-link.pagination-item-link-active 1
        .pagination-item: a(href="").pagination-item-link 2