extends layout.pug

block content
  .content
    .container
      .main-title-wrap
        h1 Пусконаладка
      .content-wrap
        .wrapper
          .serv-top
            .grid
              .col.col--sm-6
                p Осуществляем: режимно-наладочные испытания котлов, пуско-наладочные работы на котлах и вспомогательном оборудовании, составление режимных карт котлов
                .fos.fos_without-bg
                  form.fos__form
                    .form-input
                      input.phone(type='tel')
                    .btn Получить консультацию
                  small Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
              .col.col--sm-1
              .col.col--sm-5
                .serv-img
                  img(src="./img/services/puskonaladka.jpg", alt="")

          .grid.serv-icons
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-1.svg", alt="")
                .serv-icon__text Команда профессионалов
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-2.svg", alt="")
                .serv-icon__text Выполним работы строго в срок
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-3.svg", alt="")
                .serv-icon__text От идеи до сдачи в эксплуатацию

    section.section.blocks
      .wrapper
        .block.grid
          .col.col--sm-5
            .block__plate осуществляем
            h2.block__title Пусконаладка котельных
            ul
              li техническое обслуживание автоматики и газового оборудования;
              li наладка вспомогательного оборудования котельных; 
              li наладка ХВО котлов.
            .btn Рассчитать стоимость
          .col.col--sm-1
          .col.col--sm-6
            a(href="").block__img
              img(src="./img/services/block-puskonaladka-1.jpg", alt="")
        .block.grid
          .col.col--sm-6
            a(href="").block__img.block__img_video
              img(src="./img/services/block-puskonaladka-2.jpg", alt="")
          .col.col--sm-1
          .col.col--sm-5
            .block__plate осуществляем
            h2.block__title Пусконаладка промышленных парогенераторов 
            ul
              li настройку горения (газовых и жидкотопливных котлов любой мощности); 
              li устранение проблем (вибрации, низкий КПД и т.д.); 
              li наладку систем теплоснабжения.
            .btn Рассчитать стоимость
        .block.grid
          .col.col--sm-5
            .block__plate осуществляем
            h2.block__title Пусконаладка тепловых пунктов
            ul
              li проверка вращения двигателей насосов;
              li настройка автоматики защиты;
              li корректировку температуры теплоносителя;
              li регулировка клапанов давления и балансировочных клапанов;
              li включение системы в автоматическом режиме.
            .btn Рассчитать стоимость
          .col.col--sm-1
          .col.col--sm-6
            a(href="").block__img
              img(src="./img/services/block-puskonaladka-3.jpg", alt="")


    section.section.steps
      .wrapper
        h2 Пусконаладка проводится в несколько этапов
        .grid
          .col.col--sm-3
            .step
              .step__top
                .step__number 1.
              p.step__text Подготовительный этап
          .col.col--sm-3
            .step
              .step__top
                .step__number 2.
              p.step__text Первичное опробование (пробный пуск)
          .col.col--sm-3
            .step
              .step__top
                .step__number 3.
              p.step__text Запуск оборудования под нагрузкой в режиме 72 часа
          .col.col--sm-3
            .step
              .step__top
                .step__number 4.
              p.step__text Режимная наладка оборудования



    section.faqs.section
      h2.h2_center Часто спрашивают
      .wrapper
        .faq
          .faq__top
            .faq__title Какие варианты доставки возможны?
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title С какими транспортными компаниями вы работаете?
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Сколько будет стоить доставка?
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Куда продукцию вы не доставляете?
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Есть ли какие-то специальные условия или скидки на доставку?
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.



    section.section.fos
      .wrapper
        .grid
          .col.col--sm-6
            .fos__left
              h2.fos__title Разработаем котельную под ключ за 2 месяца
              p.fos__subtitle
                | Разработаем индивидуальный проект для вашей котельной бесплатно. Оставьте телефон и мы свяжемся с вами, чтобы уточнить параметры.
              form.fos__form
                .form-input
                  input.phone(type='tel' placeholder="Контактный телефон")
                .btn Получить консультацию
              small
                | Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
          .col.col--sm-6
            .fos__right
              .fos__img
                img(src='./img/fos-img.png')


    section.section.section-services
      .wrapper
        h2 Услуги
        .services
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-1.jpg')
            .service__left
              .service__title Бесплатный рассчет
              p.service__subtitle
                | Бесплатная консультация и подготовка тепловой схемы  и расчёта по установке оборудования и монтажа!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-2.jpg')
            .service__left
              .service__title Бесплатная пусконаладка
              p.service__subtitle
                | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-2.jpg')
            .service__left
              .service__title Бесплатная пусконаладка
              p.service__subtitle
                | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')

