extends layout.pug

block content
  .inner-header
    .inner-header__container
      .wrapper
        section.breadcrumbs
          .breadcrumbs-list
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text Главная
            .breadcrumbs-item
              a(href="/" title="Главная").breadcrumbs-text О заводе
            .breadcrumbs-item
              .breadcrumbs-text Обслуживание
        h1 Обслуживание

  .wrapper
    section.section
      .grid
        .col.col--sm-6
          p Мы предлагаем заключить договор на сервисное и техническое обслуживание настенных и напольных котлов на один год, с возможным продлением в г. Краснодар (и близлежащих районов: п. Энем, г. Адыгейск, аул Тахтамукай, п. Яблоновский, ст. Новотиторовская, ст. Елизаветинская). Заключение договора возможно как в офисе нашей компании, так и у Вас дома. Договор требуют организации: ГорГаз или РайГаз (договор на котел для газовиков) для подачи газа потребителю - владельцу газового оборудования.
          p В договор входит один бесплатный выезд специалиста для проведения технического обслуживания котла или ремонта. В случае поломки вашего оборудования и при поступлении заявки, мы обязуемся прибыть для устранения аварии в течение 24 часов.

        .col.col--sm-1
        .col.col--sm-5
          .serv-right-img
            .serv-right-img__title Устраним аварию в течение 24 часов
            .serv-right-img__icon


    section.section
      .about-serv
        .about-serv__container
          h2 Предоставляем бесплатную консультацию по эксплуатации вашего котла
          p Возможен вызов специалиста в место установки оборудования для выявления неисправности и последующего его устранения. Наши специалисты произведут все необходимые меры для обеспечения стабильной работы вашего котла, от обычной профилактики до ремонтных работ.
        .about-serv__img
          img(src="./img/serv-img.jpg", alt="")


    section.section
      .grid
        .col.col--sm-6
          h2 В перечень работ по ежегодному техническому обслуживанию котла входит:
      .grid
        .col.col--sm-6
          .text-list.text-list_black
            .text-list__item Снизить расход топлива — уменьшению себестоимости теплоэнергии
            .text-list__item Повысить производительность оборудования
            .text-list__item Сократить затраты на содержание котельной
            .text-list__item Полностью автоматизировать оборудование
            .text-list__item Повысить качество теплоснабжения
            .text-list__item Повысить безопасность в процессе эксплуатации
        .col.col--sm-6
          .text-list.text-list_black
            .text-list__item Снизить расход топлива — уменьшению себестоимости теплоэнергии
            .text-list__item Повысить производительность оборудования
            .text-list__item Сократить затраты на содержание котельной
            .text-list__item Полностью автоматизировать оборудование
            .text-list__item Повысить качество теплоснабжения
            .text-list__item Повысить безопасность в процессе эксплуатации



