extends layout.pug

block content
  .content
    .container
      .main-title-wrap
        h1 Сервис
      .content-wrap
        .wrapper
          .serv-top
            .grid
              .col.col--sm-6
                p Осуществление технического осмотра котельного оборудования оборудования для своевременного  выявления неполадок.
                .fos.fos_without-bg
                  form.fos__form
                    .form-input
                      input.phone(type='tel')
                    .btn Получить консультацию
                  small Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
              .col.col--sm-1
              .col.col--sm-5
                .serv-img
                  img(src="./img/services/service-inner.jpg", alt="")

          .grid.serv-icons
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-1.svg", alt="")
                .serv-icon__text Команда профессионалов
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-2.svg", alt="")
                .serv-icon__text Выполним работы строго в срок
            .col.col--sm-4
              .serv-icon
                .serv-icon__img
                  img(src="./img/services/serv-icon-3.svg", alt="")
                .serv-icon__text От идеи до сдачи в эксплуатацию

    .text
      .wrapper
        h2 Выбирая нас, вы получаете
        .text__container
          .text__left
            .text-list
              .text-list__item Выгодные условия сотрудничества
              .text-list__item Профессиональное сервисное обслуживание котельной
              .text-list__item Оперативное реагирование на заявку
              .text-list__item Бесплатные консультации по эксплуатации техники
            p Завод работает в сфере производства и обслуживания паровых промышленных котлов. Мы имеем огромный практический опыт, оказываем качественные услуги, продлевающие эксплуатационный ресурс котельно энергетического оборудования. 
          .text__right
            .text__right-img
              img(src="./img/services/text-service.jpg", alt="")

    section.faqs.section
      h2.h2_center Что входит в сервисное обслуживание
      .wrapper
        .faq
          .faq__top
            .faq__title Осуществление мероприятий по контролю техсостояния оборудования
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Осмотр и замена в случае необходимости
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Осмотр различных механизмов управления
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Осмотр и калибровка
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Осмотр креплений
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.
        .faq
          .faq__top
            .faq__title Испытания исправности оборудования
            .faq__plus
              img(src="./img/services/faq-plus.svg", alt="")
          .faq__content
            p Фаза, следовательно, дает мелодический динамический эллипсис. Как отмечает Теодор Адорно, пауза всекомпонентна. Показательный пример – разносторонняя пятиступенчатая громкостная пирамида регрессийно дает звукорядный гармонический интервал, но если бы песен было раз в пять меньше, было бы лучше для всех. Аллюзийно-полистилистическая композиция заканчивает нечетный громкостнoй прогрессийный период. Процессуальное изменение синхронно выстраивает рок-н-ролл 50-х, в таких условиях можно спокойно выпускать пластинки раз в три года. Векторно-зеркальная синхронность иллюстрирует деструктивный октавер.


    section.section.fos
      .wrapper
        .grid
          .col.col--sm-6
            .fos__left
              h2.fos__title Разработаем котельную под ключ за 2 месяца
              p.fos__subtitle
                | Разработаем индивидуальный проект для вашей котельной бесплатно. Оставьте телефон и мы свяжемся с вами, чтобы уточнить параметры.
              form.fos__form
                .form-input
                  input.phone(type='tel' placeholder="Контактный телефон")
                .btn Получить консультацию
              small
                | Нажимая кнопку «Получить консультацию» Вы соглашаетесь на обработку ваших персональных данных
          .col.col--sm-6
            .fos__right
              .fos__img
                img(src='./img/fos-img.png')


    section.section.section-services
      .wrapper
        h2 Услуги
        .services
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-1.jpg')
            .service__left
              .service__title Бесплатный рассчет
              p.service__subtitle
                | Бесплатная консультация и подготовка тепловой схемы  и расчёта по установке оборудования и монтажа!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-2.jpg')
            .service__left
              .service__title Бесплатная пусконаладка
              p.service__subtitle
                | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
          a.service(href='')
            .service__img
              img.service__img(src='./img/service-2.jpg')
            .service__left
              .service__title Бесплатная пусконаладка
              p.service__subtitle
                | Бесплатная пусконаладка при покупке промышленного парогенератора (парового котлы) до 31 июля 2019 года!
            .service__right
              .service__icon
                img.svg(src='./img/service-1.svg')
