@keyframes smallFadeUp
  0%
    opacity 0
    transform translateY(4rem)
  100%
    opacity 1
    transform none

@keyframes bigFadeUp
  0%
    transform translateY(10rem)
  100%
    transform none

@keyframes bigFadeDown
  0%
    transform none
  100%
    transform translateY(10rem)
