@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'

@import 'base/base.styl'
@import 'base/ui'
@import 'base/grid.styl'
@import 'base/typography.styl'
// @import 'base/animations.styl'
// @import 'base/modal.styl'
@import 'base/slider.styl'
@import 'base/fix.styl'

@import 'components/blast'
@import 'components/hero'
@import 'components/prem'
@import 'components/fos'
@import 'components/map'
@import 'components/partners'
@import 'components/services'
@import 'components/category'
@import 'components/header'
@import 'components/card'
@import 'components/text'
@import 'components/blocks'
@import 'components/faq'
@import 'components/steps'
@import 'components/catalog-item'
@import 'components/help'
@import 'components/footer'
@import 'components/good'
@import 'components/tabs'
@import 'components/table'
@import 'components/certificate'


@import 'pages/all'
@import 'pages/portfolio'
@import 'pages/services'
@import 'pages/catalog'
@import 'pages/cardpage'

@import 'helpers/helpers.styl'

// @import 'base/media.styl'


